
@import '../client/src/_variables.scss';
@import '../client/src/_mixins.scss';

.App {
  .contact-page.page {
    background-color: $base-color;
    color: $off-base-color;
    padding: 8vh 8vw;
    .contact-header {
      color: $highlight-base-color;
    }
    .address {
      margin-bottom: 2vh;
      span, a {
        margin-left: 4vw;
        .phone-row, .email-row {
          cursor: pointer;
        }
      }
    }
    .secondary-content {
      .contact-form {
        margin-bottom: 5vh;
        label {
          color: $highlight-base-color;
          font-size: 1.1rem;
        }
        .submit-button {
          button {
            width: 100%;
            background-color: #FF560E; //$submit-color
            color: #FFFFFF;
          }
        }
      }
    }
    @include respond('tablet') {
      padding: 12vh 5vw 5vh 10vw;
      .contact-header {
        width: 50%;
        color: $off-base-color;
      }
      .contact-flex-cont {
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-end;
        // align-items: flex-end;
        gap: 6vw;

      }
      .primary-content {
        width: 45%;
        .address {
          span, a {
            font-size: 1.3rem;
            margin-left: 1vw;
          }
          svg {
            transform: translateY(4px);
          }
        }
        p {
          font-size: 1.4rem;
          font-weight: bold;
          margin-bottom: 5vh;
        } 
      }
      .secondary-content {
        flex-grow: 4;
        .contact-form {
          display: flex;
          flex-wrap: wrap;
          gap: 3vw;
          row-gap: 3vh;
          padding-right: 4vw;
          .field {
            width: 46%;
            flex-grow:2;
            &.form-opinion {
              width: 96%;
            }
            &.submit-button {
              width: 14vw;
              flex-grow: 0;
              box-shadow: 1px 0px 4px 0 rgba(0,0,0,.25);
            }
            label {
              margin-bottom: 3vh;
            }
            input {
              
            }
          }


        }
      }
    }
    
  }
}