
@import '../client/src/_variables.scss';

.contact-page {
  background-color: $off-secondary-color;
  padding-top: 8vh;
  padding-bottom: 10vh;  
  .contact-header {
    font-family: Ubu;
  }
  .address {
    margin-bottom: 2vh;
    span, a {
      margin-left: 4vw;
      .phone-row, .email-row {
        cursor: pointer;
      }
    }
  }
  .secondary-content {
    .contact-form {
      margin-bottom: 5vh;
      label {
        color: #6B6EDB;
        font-size: 1.1rem;
      }
      .submit-button {
        button {
          width: 100%;
          background-color: #FF560E; //$submit-color
          color: #FFFFFF;
        }
      }
    }
  }
  @include respond-to ('medium') {
    .primary-content {
      width: 50%;
      float: left;
      padding: 4px;
      .contact-subheader {
        font-family: Ubu;
      }
    }
    .secondary-content {
      float: right;
      width: 50%;
      border-radius: 15px;
      
      .contact-form {
        .field {
          width: 75%;
          margin: auto;
          padding-bottom: 10px;
          padding-top: 10px;

        }
      } 
    }
  }
  
}