$primary-color: #6567AB;
$secondary-color: #FA7F4B;
$tertiary-color: #E84702;

$base-color: #6567AB; 
$secondary-color: #FED2B8;
$off-base-color: #6B6EDB;
$off-secondary-color: #FFF1E9;
$action-color: #FF900E;