@import '../client/src/_variables.scss';
@import '../client/src/_mixins.scss';


.App {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  ;
  font-style: normal;
  font-weight: normal;
  font-size: 1.2rem;
  line-height: 21px;
  color: $text-color;

  padding-top: 48px;
  .main-div {
    background-color: #FFFFFF;
    @media only screen and (min-width: 600px) { 
      padding: 7.5vh 4vw;
    }
  }
  @media only screen and (min-width: 600px) { 
    font-size: 1rem;
  }

  
  h1 {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    font-weight: 1100;
    font-size: 2.1rem;
    line-height: 2.4rem;
    @media only screen and (min-width: 600px) { 
      font-size: 4.5rem;
      line-height: 6rem;
    }
    
  }
  
  h2 {
    font-size: 1.43rem;
    line-height: 1.7rem;
    @media only screen and (min-width: 600px) { 
      font-size: 3.3rem;
      line-height: 4rem;
    }
  }
  
  h3 {
    font-size: 1.4rem;
    line-height: 24px;  
  }

  h4 {
    font-size: 1.17rem;
    font-weight: 600;
  }

  p {
    line-height: 1.3rem;
    font-size: 1.1rem;
    @media only screen and (min-width: 600px) { 
      font-size: 1.3rem;
      line-height: 150%;
    }
  }

  .page {
    padding: 10vh 6vw;
    padding-right: 6vw;
    text-align: left;
    @media only screen and (min-width: 600px) { 
      padding-left: 10vw;
      padding-right: 10vw;
      // background-color: red !important;
    }
    .action-btn {
      background-color: $action-color;
      color: #FFFFFF;
      font-size:1.2rem;
      height: 5.5vh;
      padding: 1rem 1.5rem;
      width: 80%;
      border-radius: 10px;
      margin-top: 3.5vh;
      box-shadow: -.5px 3px 5px rgba(0,0,0,0.3);
      @include respond(tablet) {
        width: auto;
        padding: 3vh 2.3vw;
        height: auto;
      }
      &.outline {
        background-color: transparent;
        color: $action-color;
        border: 2px solid $action-color;
      }
    }
  }



  .landing-page{
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    min-height: 100vh;

 
  }
}

.background-triangle {
  content: "\A";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 6.5vh 50vw 0 50vw;
  background-color: $base-color;
  border-color: #FFFFFF transparent transparent transparent;
  @include respond(tablet) {
    border-width: 15vh 46vw 0 46vw;
    border-color: $off-secondary-color transparent transparent transparent;
  }
}


.css-mgur8 {
  z-index: 9999;
}


.action-color {
  color: $action-color;
}

.mobile {
  @include respond(tablet) {
    display: none !important;
  }
}

.tablet {
  @include respond(mobile) {
    display: none !important;
  }
}


