@import '../client/src/_variables.scss';
@import '../client/src/_mixins.scss';

.technologies {
  &.main-content {
    @include respond(tablet) {
      border-radius: 30px;
      overflow: hidden;
    }
  }
  .page {
    @include respond(tablet) {
      padding: 0px 6vw;
      h3 {
        font-size: 3rem;
        line-height: 150%;
      }
    }
  }
  .landing-page {
    background: #FFFFFF;
    text-align: center;
    height: 100vh;
    padding: 5vh 6vw 0 6vw;
    .primary-content {
      margin-top: 5vh;
    }
    .secondary-content {
      // margin-top: 50vh;
      .action-btn {
        background-color: $primary-color;
      }
    }
    @include respond(tablet) {
      background-color: #FFFFFF;
      text-align: left;
      height: auto;
      .primary-content {
        width: 50%;
        margin-top: 0;
      }
      .secondary-content {
        margin-top: 5vh;
        width: 50%;
        .action-btn.outline {
          margin-left: 2vw;
        }
      }
    }
  }
  .intro-page {
    background-color: #FFFFFF;
    padding: 0 7vw 4vh 7vw;
    .primary-content {
      h2 {
        margin: 0vh 3vw 4vh 3vw;
      }

    }
    p {
      text-align: left;
      span {
        color: $primary-color;
      }
    }
    @include respond(tablet) {
      .primary-content {
        display: flex;
        h2 {
          margin: 0;
        }
        p {
          width: 50%;
        }
      }
    }
  }
  .list-page {
    padding: 0;
    .primary-content {
      padding: 6vh 4vw;
      p {
        width: 50%;
      }
    }
    .secondary-content {
      padding: 6vh 5vw;
      background-color: $off-secondary-color;
      box-shadow: 0px 1px 24px -1px rgba(0, 0, 0, 0.25);
      backdrop-filter: blur(20px);
      /* Note: backdrop-filter has minimal browser support */

      border-radius: 0px 50px 0px 0px;
      .single-tech {
        margin-bottom: 3vh;
        position: relative;
        img {
          width: 30%;
          position: absolute;
          transform: translate(60vw, -25%);
        }
        h2 {
          color: $primary-color;
          margin-bottom: 3vh;
        }
        &.alt {
          h2 {
            color: $action-color;
          }
          img {
            width: 35%;
            transform: translate(-5vw, -45%);
          }
        }

      }
    }
    @include respond(tablet) {
      padding: 0;
      .primary-content {
        padding: 15vh 13.5vw;
        display: flex;
        gap: 3%;
        h2 {
          text-align: left;
          flex-basis: 47%;
        }
        p {
          text-align: left;
          flex-basis: 50%;
        }
      }
      .secondary-content {
        border-radius: 114px 0 0 114px;
        margin-bottom: 10vh;
        box-shadow: none;
        .industries-list-container {
          display: flex;
          gap: 20%;
          padding: 4vh 7vw;
          flex-wrap: wrap;
          .single-tech {
            flex-basis: 40%;
            h4 {
              text-align: left;
              margin-bottom: 3vh;
              font-size: 2.2rem;
              color: $primary-color;
            }
            p {
              text-align: left;
            }
            img {
              width: 40%;
              transform: translate(65%, -22%);
              right: 0;
            }
            &.tabAlt {
              h4 {
                color: $action-color;
              }
              img {
                width: 40%;
                bottom: 0;
                right: 0;
                transform: translate(20%, 85%);
              }
            }
          }
        }
      }
    }
  }
  .final-page {
    padding: 0;
    .primary-content {
      text-align: center;
      background-color: $outline-color;
      color: #FFFFFF;
      padding: 5vh 5vw;
      .single-IT {
        margin-bottom: 4.5vh;
        img {
          width: 15%;
        }
        h4 {
          margin-bottom: 3vh;
          font-size: 1.3rem;
        }
        &.it-audit {
          img {
            width: 18%;
          }
        }
      }

    }
    @include respond(tablet) {
      .primary-content {
        text-align: left;
        display: flex;
        align-items: stretch;
        gap: 5%;

        .single-IT {
          flex-basis: 25%;
          // padding-right: 2.5%;
          // padding-left: 2.5%;
          span {
            border-right: 4px solid rgba(10, 18, 58, 0.2);
          }
          p {
            text-align: left;
          }
          h4 {
            text-align: left;
            font-size: 2.2rem;
            margin-bottom: 4vh;
          }
          img {
            width: 22%;
          }
          &.it-audit {
            img {

              width: 24%;
            }
          }
        }

      }
    }
  }
}