.navbar {
  height: 40px;
  position:fixed;
  top:0;
  background:white;
  width: 100%;
  // background: red;

}

.title-first-letter {
  font-size: 1.4em;
}

.logo {
  max-width: 50%;
  max-height: 5vh;
}

.company-name {
  max-height: 5vh;
  transform: translate(6px, 5px);
}