@import '../client/src/_variables.scss';
@import '../client/src/_mixins.scss';

.navbar {
  height: 40px;
  position:fixed;
  top:0;
  background:white;
  width: 100%;
  // background: red;

}

.title-first-letter {
  font-size: 1.4em;
}

.logo {
  max-width: 50%;
  max-height: 4vh;
}

.logo-box {
  min-width: 10vw;
}

.nav-link {
  color: $off-base-color;
  min-width: 9vw;
  font-weight: 700;
  font-size: 1.4rem;
  margin: 28px 1vw;
  &.active {
    color: $action-color;
  }
  svg {
    transform: translateY(25%);
    margin-left: .5vw;
    // margin-right: 2vw;
  }
  &.Services-nav-link {
    margin-left: 0;
  }
}

.company-name {
  max-height: 5vh;
  transform: translate(6px, 5px);
}